[Unit]
Description=Tims Python backend example service
After=network.target
Requires=mysql.service

[Service]
WorkingDirectory=/backend
Type=simple
User=ubuntu
ExecStart=/home/ubuntu/.local/bin/gunicorn wsgi:app -b 0.0.0.0:5000
Restart=always

[Install]
WantedBy=multi-user.target
