[Unit]
Description=Tims Python backend example service
After=network.target

[Service]
WorkingDirectory=/sysusr/backend/app
Type=simple
User=backend
ExecStart=/sysusr/backend/.local/bin/gunicorn wsgi:app -b 0.0.0.0:5000
Restart=always

[Install]
WantedBy=multi-user.target
